@import "@styles/_global.scss";

.pageLinks{
  list-style-type: none;
  padding: 0;
  margin: 0;
  @include displaySettings();
  gap: 25px;

  @media screen and (max-width: $Tablet) {
    gap: 15px;
  }

  @media screen and (max-width: $TabletS) {
    flex-direction: column;
  }

  @media screen and (max-width: $Mobile) {
    flex-direction: row;
    gap: 10px;
  }
}
