@import "@styles/_global.scss";

.progressbar{
  @include displaySettings();
  flex-direction: column;

  &__slider{
    cursor: pointer;
    width: 100%;
    appearance: none;
    height: 2px;
    margin-top: 20px;
    outline: none;
    border-radius: 7px;

    &::-webkit-slider-thumb{
      -webkit-appearance: none;
      appearance: none;
      height: 12px;
      width: 12px;
      border: 1px solid $globalWhite;
      box-shadow: 0 1px 1px white;
      border-radius: 50%;
      cursor: pointer;
      background-color: $secondaryBtnColor;
    }

    &::-moz-range-thumb{
      -webkit-appearance: none;
      appearance: none;
      height: 12px;
      width: 12px;
      border: 1px solid $globalWhite;
      box-shadow: 0 1px 1px white;
      border-radius: 50%;
      cursor: pointer;
      background-color: $secondaryBtnColor;
    }
  }
}
