@import "@styles/_global.scss";

.menuList {
  padding: 0;
  margin: 0;
  @include displaySettings();
  list-style-type: none;
  gap: 10px;
}

@media screen and (max-width: $Tablet) {
  .menuList{
    padding: 0;
    margin: 0;
    @include displaySettings();
    list-style-type: none;
    position: absolute;
    flex-direction: column;
    top: 70px;

    &__item{
      pointer-events: none;
      visibility: hidden;
      transition: all .6s ease;
      opacity: 0;

      &_active{
        pointer-events: initial;
        visibility: initial;
        opacity: 1;
      }
    }

    &_active{
      display: flex !important;
    }
  }
}
