@import "@styles/_global.scss";

.pageLink{
  text-decoration: none;
  @include displaySettings();
  gap: 8px;
  @include fontSet($fontSize: 15px);
  color: $primeText;
  padding: 7px 20px;

  &_icon{
    width: 35px;
    height: 35px;
  }

  &_active{
    border-radius: 50px;
    @include theme($bg: $primeBtnColor, $color: $secondaryBg)
  }
}
