@import "@styles/_global.scss";

.pageLink {
  text-decoration: none;
  @include displaySettings();
  gap: 8px;
  @include fontSet($fontSize: 15px);
  color: $primeText;
  padding: 7px 20px;
  border-radius: 50px;
  @include transitionSetting();

  &__icon {
    width: 25px;
    height: 25px;
  }

  &:hover {
    @include transitionSetting();
    .pageLink__icon path {
      stroke: $globalWhite;
      fill: $globalWhite;
      @include transitionSetting();
    }
    .pageLink__bookIcon path{
      fill: none !important;
      stroke: $globalWhite;
      @include transitionSetting();
    }
  }

  &:not(&_active):hover {
    @include theme($bg: $secondaryBtnColor, $color: $secondaryBg);
    @include transitionSetting();
  }

  &_active {
    @include theme($bg: $primeBg, $color: $secondaryBg);

    .pageLink__icon path {
      stroke: $globalWhite;
      fill: $globalWhite;
    }
    .pageLink__bookIcon path{
      fill: none !important;
      stroke: $globalWhite;
    }
  }
}

@media screen and (max-width: $Mobile) {
  .pageLink{
    padding: 10px;
  }
}
