@import "@styles/_global.scss";

.explorer{
  max-width: 250px;
  margin-top: 30px;
  align-self: flex-start;
  cursor: default;

  &__title{
    margin: 0;
    padding: 0;
    @include fontSet($fontWeight: 600, $fontFamily: $headingsFont, $fontSize: 52px);
    color: $headingsText;
  }

  &__subtitle{
    margin: 10px 0 0;
    padding: 0;
    color: $secondaryText;
    @include fontSet($fontWeight: 400, $fontSize: 15px)
  }
}
