@import "@styles/_global.scss";

.menuLink {
  padding: 10px;
  border-radius: 50%;
  @include displaySettings();
  @include transitionSetting();

  &__icon {
    width: 35px;
    height: 35px;
  }

  &:hover .menuLink__icon path{
    stroke: $globalWhite;
    @include transitionSetting();
  }

  &:not(&_active):hover{
    @include theme($bg: $secondaryBtnColor, $color: $secondaryBg);
    @include transitionSetting();
  }

  &_active {
    @include theme($bg: $primeBg, $color: $secondaryBg);

    .menuLink__icon path{
      stroke: $globalWhite;
      fill: $globalWhite;
    }
  }
}

@media screen and (max-width: $Tablet) {
  .menuLink{

    &__icon{
      width: 25px;
      height: 25px;
    }
  }
}
