@import "@styles/_global.scss";

$bookListGap: 70px;
$bookSliderStep: -3;

.bookList{
  @include displaySettings($justify: start);
  position: relative;
  gap: $bookListGap;
  height: 220px;
  @include transitionSetting();

  .moving {
    transform: translate(calc((100% + $bookListGap) * $bookSliderStep));
    @include transitionSetting($transition: all 1s  ease-in-out);
  }

  &__container{
    height: 100%;
    overflow: hidden;
    @include displaySettings($justify: start);
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 70px;
    @include transitionSetting();
  }
}


