/*-----------Colors------------*/

// Main Colors

$globalBlack: #000;
$globalWhite: #fff;

// Background Colors

$primeBg: #F3E4CF;
$secondaryBg: #F4EDE7;

// Text Colors

$primeText: #92867F;
$secondaryText: #2F4858;
$headingsText: #2C1810;

// Button Colors

$primeBtnColor: #70877F;
$secondaryBtnColor: #A97049;

/*-----------End of Colors------------*/


/*-----------Fonts------------*/

$mainTextFont: 'Lora', sans-serif;
$headingsFont: 'Playfair Display', sans-serif;

/*-----------End of Fonts------------*/


/*-----------Font Weights------------*/

$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;

/*-----------End of Font Weights------------*/


/*-----------Font Sizes------------*/

$fs-30: 30px;

/*-----------End of Font Sizes------------*/



/*-----------Window Breakpoints------------*/

// Main Breakpoints

$Laptop: 1920px;
$Tablet: 1024px;
$Mobile: 500px;

// Secondary Breakpoints

/*-----------End of Window Breakpoints------------*/
